## Introduction to the Scientific Computing with Julia

### 1. Strings

##### 1.0. Basics

In [1]:
s1 = "I am a string."

"I am a string."

In [4]:
s1 = 'F'

'F': ASCII/Unicode U+0046 (category Lu: Letter, uppercase)

In [5]:
s2 = """I am also a string. Boom."""

"I am also a string. Boom."

In [6]:
"""Look, mom, we can write here withour "error"!!"""

"Look, mom, we can write here withour \"error\"!!"

In [7]:
typeof('a')

Char

In [9]:
typeof("abc")

String

##### 1.1 String interpolation

In [10]:
name = "Danko"
num_fingers = 6
num_toe = 10

10

In [11]:
println("Hello, my name is $name and I have $num_fingers fingers and $num_toe toes.")

Hello, my name is Danko and I have 6 fingers and 10 toes.

In [12]:
println("Hello, I am $name and my total number of fingers and toes is $(num_fingers + num_toe). Great ya.")

Hello, I am Danko and my total number of fingers and toes is 16. Great ya.

##### 1.2 String concatenation

In [15]:
s3 = "How many cats";
s4 = " is too many cats?";

In [16]:
string(s3, s4)

"How many cats is too many cats?"

In [17]:
s3*s4

"How many cats is too many cats?"

In [26]:
# Exercise: Create a string that says 'hi' 1000 times.
"hi"^1000

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [29]:
a = 3
b = 4
@show "$a + $b"
@show "$(a + b)"

"$(a) + $(b)" = "3 + 4"
"$(a + b)" = "7"

"7"

In [30]:
@assert c == "3 + 4"
@assert d == "7"

UndefVarError: UndefVarError: c not defined

### 2 Data Structures

<hr>

Basic types of data structures covers:

1. Tuples
2. Dictionaries
3. Arrays

##### 2.1 Tuples 
<hr>

- Tuples are immutable

In [31]:
animals = ("dogs", "cats", "duck")

("dogs", "cats", "duck")

In [32]:
animals[1]

"dogs"

In [33]:
animals[1] = "Sharks"

MethodError: MethodError: no method matching setindex!(::Tuple{String,String,String}, ::String, ::Int64)

In [34]:
animals = (bird = "penguins", mammal = "cats", human = "Danko")

(bird = "penguins", mammal = "cats", human = "Danko")

In [35]:
animals[1]

"penguins"

In [36]:
animals.human

"Danko"

##### 2.2 Dictionaries
<hr>

- Dictionaries in Julia obeys the following syntax:
    Dict(key1 => value1, key2 => value2, ...)

In [37]:
phonebook = Dict("Tom" => "158-224", "Martin" => "438-212")

Dict{String,String} with 2 entries:
  "Tom"    => "158-224"
  "Martin" => "438-212"

In [38]:
phonebook["Tom"]

"158-224"

In [39]:
# We can add another entry like this
phonebook["Carl"] = "555-122"

"555-122"

In [40]:
phonebook

Dict{String,String} with 3 entries:
  "Tom"    => "158-224"
  "Carl"   => "555-122"
  "Martin" => "438-212"

In [41]:
# Deleting is conducted in the following way
pop!(phonebook, "Tom")

"158-224"

In [42]:
phonebook

Dict{String,String} with 2 entries:
  "Carl"   => "555-122"
  "Martin" => "438-212"

##### 2.3 Arrays
<hr>

- Unlike tuples, arrays are mutable. Unlike dictionaries, arrays contain ordered collection

In [43]:
friends = ["Vojta", "Ondrej", "Adam", "Tom", "Kukum"]
friends

5-element Array{String,1}:
 "Vojta"
 "Ondrej"
 "Adam"
 "Tom"
 "Kukum"

In [44]:
fibonacci = [1,1,2,3,5,8,13]
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [46]:
mixture = [1,2,2, "Tom", "Peter", 'A']

6-element Array{Any,1}:
 1
 2
 2
  "Tom"
  "Peter"
  'A'

In [47]:
friends[2]

"Ondrej"

In [49]:
# We can push and remove elements like this
push!(fibonacci, 21)
println(fibonacci)
pop!(fibonacci)
println(fibonacci)

[1, 1, 2, 3, 5, 8, 13, 21]
[1, 1, 2, 3, 5, 8, 13]

In [50]:
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [51]:
# It is also no problem to create n-dimensional arrays like this
A = [[1,0,0], [0,1,0], [1,1,1]]

3-element Array{Array{Int64,1},1}:
 [1, 0, 0]
 [0, 1, 0]
 [1, 1, 1]

In [52]:
A

3-element Array{Array{Int64,1},1}:
 [1, 0, 0]
 [0, 1, 0]
 [1, 1, 1]

In [57]:
# Generating random values
rand(4, 3)

4×3 Array{Float64,2}:
 0.0139844  0.995165  0.944361
 0.892087   0.405062  0.432315
 0.551823   0.77526   0.296909
 0.291985   0.622528  0.625054

In [58]:
rand(4, 3, 2)

4×3×2 Array{Float64,3}:
[:, :, 1] =
 0.010406   0.175794  0.0436613
 0.728851   0.204098  0.317441
 0.630012   0.661087  0.259531
 0.0907218  0.74978   0.846591

[:, :, 2] =
 0.149014  0.334561  0.327633
 0.730593  0.192378  0.470365
 0.960823  0.371729  0.852628
 0.278452  0.580098  0.970468

In [59]:
# one must be careful during the following operations
println(fibonacci)
somenumbers = fibonacci
somenumbers[1] = 404
println(fibonacci)

[1, 1, 2, 3, 5, 8, 13]
[404, 1, 2, 3, 5, 8, 13]

In [60]:
# We need to use copy command instead
fibonacci[1] = 1
somenumbers = copy(fibonacci)
somenumbers[1] = 404
println(fibonacci)

[1, 1, 2, 3, 5, 8, 13]

In [62]:
a_ray = [1, 2, 3]
push!(a_ray, 4)

4-element Array{Int64,1}:
 1
 2
 3
 4

In [67]:
phonebook["Emergency"] = "911"
phonebook

Dict{String,String} with 3 entries:
  "Emergency" => "911"
  "Carl"      => "555-122"
  "Martin"    => "438-212"

In [68]:
flexible_phonebook = Dict("Jenny" => 733000111, "Ghostbuster" => "1212333")

Dict{String,Any} with 2 entries:
  "Jenny"       => 733000111
  "Ghostbuster" => "1212333"

In [69]:
flexible_phonebook["Emergency"] = 911

911

In [70]:
flexible_phonebook

Dict{String,Any} with 3 entries:
  "Jenny"       => 733000111
  "Ghostbuster" => "1212333"
  "Emergency"   => 911

In [71]:
# However, the code below won't work because the used dictionary was initialized with woth type String
"""
phonebook["Emergency"] = 911
"""

"phonebook[\"Emergency\"] = 911\n"